@use 'fonts';

$primary-color: #A0BBC5;
$secondary-color: #687C83;
$accent-color: #F17024;
$body-text-color: #FFF;
$heading-font-family: 'roboto mono', segoe UI, Arial;;
$body-font-family: 'roboto mono', segoe UI, Arial;;
$base-font-size: 30px;
$base-font-weight: 400;

