@use '../abstracts' as a;

.heading{
    margin-top: 70px;
}
#herosection {
    height: 100px;
    width: 200px;
}

@media screen and (max-width: 768px) {
    .heading{
        margin-top: 20px;
    }
  }